* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

input:not([type="checkbox"]),
textarea,
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc00;
    border-radius: 0.25rem;
    transition: all 0.2s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #d4af37;
    outline: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}